.hero{
    &__animation{
        display: none;
        &--active{
            display: block;
        }
    }
}
.hero{
    &__titre,&__description,&__courriel,&__adresse,&__auteur{
        position: relative;
        animation: anim_contenu ease-out 1s forwards;
    }
    &__titre{
        transform: translateY(-1000px);
    }
    &__description{
        transform: translateX(-2000px);
        animation-delay: 1s;
    }
    &__courriel{
        transform: translateX(-2000px);
        animation-delay: 1.5s;
    }
    &__adresse{
        transform: translateX(-2000px);
        animation-delay: 2s;
    }
    &__auteur{
        transform: translateX(-2000px);
        animation-delay: 2.5s;
    }
}
@keyframes anim_contenu{
    100%{
        transform: translate(0, 0);
    }

}